<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Product</title>
</head>

<body>
  {{>header}}
  <form id="signup-form">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="Product Name">Name</label>
        <input required type="string" class="form-control" id="inputNameProduct" placeholder="Enter name of product">
      </div>
      <div class="form-group col-md-6">
        <label for="price">Price</label>
        <input required type="number" class="form-control" id="inputPriceProduct" placeholder="Enter price of Product">
      </div>
    </div>


    {{!-- <div class="form-group col-md-6">
      <label for="imageProduct">Upload image</label>
      <input required type="file" class="form-control" id="inputImageProduct" placeholder="Upload image">
    </div> --}}


    {{!-- <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputPassword">Password</label>
        <input required type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
      <div class="form-group col-md-6">
        <label for="inputRepeatPassword">Repeat Password</label>
        <input required type="password" class="form-control" id="inputRepeatPassword" placeholder="Repeat Password">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input required type="text" class="form-control" id="inputAddress" placeholder="Home address">
    </div>
    <div class="form-group">
      <label for="inputLocality">Locality</label>
      <select required id="inputLocality" class="form-control">
          <option selected>Choose...</option>
          <option>Upper Lawn</option>
          <option>Techno</option>
          <option>OC</option>
        </select>
      {{!-- < type="text" class="form-control" id="inputLocality" placeholder="Apartment, studio, or floor"> --}}
    </div> --}}
    {{!-- <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div> --}}
    {{!-- <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div> --}}

    <button id="addProductSubmit" type="submit" class="btn btn-primary">Add Product</button>
  </form>

  <p id="show-message"></p>

  {{>footer}}

  <script src="/public/js/header.js"></script>
  <script src="/public/js/addProduct.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>