<!DOCTYPE html>
<html>

<head>
  <title>Update Profile</title>
  {{!-- <meta charset="UTF-8"> --}}
  {{!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> --}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

  <div class="main-content">
    {{>header}}

    <form id="update-profile-form">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="Phone Number">Phone Number</label>
        <input required type="number" minlength="10" maxlength="10" class="form-control" id="inputPhoneNumber" placeholder={{mobile}}>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword">Name</label>
        <input required type="string" class="form-control" id="inputName" placeholder={{name}}>
      </div>
    </div>
    {{!-- <div class="form-row">
        <div class="form-group col-md-6">
        <label for="oldInputPassword">Old Password</label>
        <input required type="password" class="form-control" id="oldInputPassword" placeholder="Password">
      </div>
    </div> --}}
    <h7>Enter old password in both if not to be updated</h7>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputPassword">New Password</label>
        <input required type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
      <div class="form-group col-md-6">
        <label for="inputRepeatPassword">Repeat New Password</label>
        <input required type="password" class="form-control" id="inputRepeatPassword" placeholder="Repeat Password">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input required type="text" class="form-control" id="inputAddress" placeholder={{address}}>
    </div>
    <div class="form-group">
      <label for="inputLocality">Locality</label>
      <select required id="inputLocality" class="form-control">
          <option selected>None</option>
          <option>Upper Lawn</option>
          <option>Techno</option>
          <option>OC</option>
        </select>
      {{!-- < type="text" class="form-control" id="inputLocality" placeholder="Apartment, studio, or floor"> --}}
    </div>

    <button type="submit" class="btn btn-primary">Update Details</button>
  </form>

    {{>footer}}
    
    <script src="/public/js/header.js"></script>
    <script src="/public/js/update.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
</body>

</html>