<footer class='page-footer font-small pt-4' style='background-color:rgb(246, 209, 204);'> 
      <h2 class='text-center font-weight-bold' >VAIBHAV</h2>
      
      <div class="container text-center text-md-left">

        <div class="row">
          <div class="col-md-4 mt-md-0">
            <ul style='list-style: none;'> <h4 class='font-weight-bold'>Get to know us</h4>
              <li>About Us</li>
              <li>Career</li>
              <li>Pass Releases</li>
              <li>Vaibhav Cares</li>
            </ul>
          </div>
          <div class="col-md-4 mt-md-0">
            <ul style='list-style: none;'> <h4 class='font-weight-bold'>Connect</h4>
              <li>Facebook</li>
              <li>Twitter</li>
              <li>Instagram</li>
              <li>Linked In</li>
            </ul>
          </div>
          <div class="col-md-4 mt-md-0">
            <ul style='list-style: none;'> <h4 class='font-weight-bold'>Help</h4>
              <li>Your Account</li>
              <li>Address Manager</li>
              <li>Orders</li>
              <li>Issued Returns</li>
            </ul>  
          </div>
        </div>
      </div>
      
      <div class="footer-copyright text-center py-3" style='background-color: rgb(255, 175, 164); color: black;'>© 2020 Copyright:
        <a href="#" style='text-decoration: none; color: black '> Vaibhav </a>
      </div>
    </footer>
